/* 

    Stylesheet for The Yarn Yard

    Author: Tyler Kennedy
    Updated: 11 April 2018
<<<<<<< HEAD
    Created: 18 April 2018
=======
    Created: 17 April 2018
>>>>>>> 289d6bf1ac33ef2b9e1e156485320908e5ee12d6


    Border color: #92a8d1
    Text color: #f7cac9 || #034f84
    Background color: #deeaee
    Hover color: #eea29a

*/

<<<<<<< HEAD
/* Global changes */

=======
>>>>>>> 289d6bf1ac33ef2b9e1e156485320908e5ee12d6
/* Global reset rule */
* {
    
    margin: 0;
    padding: 0;
    
}

html, body {
    
    height: 100%;
    width: 100%;
    
}

/* Body global rules */
body {
    
    background-color: #deeaee;
    
}

/* Global text rules */
p, h1, h2, h3, a, li, figcaption {
    
    color: #034f84;
    font-family: 'Raleway', 'Times New Roman', sans-serif;
    
<<<<<<< HEAD
    
}

/* Header rules */
header a {
=======
    
}

/* Header specific color */
header a {
    
    color: #8D2020;    
    text-decoration: none;
    
}

/* Header styling */
#page-icon {
>>>>>>> 289d6bf1ac33ef2b9e1e156485320908e5ee12d6
    
    color: #8D2020;    
    text-decoration: none;
    
}

header {
    
    float: right;
    margin-bottom: 0.5em;
    width: 100%;
    
    border-bottom: #92a8d1 7px solid;
<<<<<<< HEAD
    
}

#page-icon {
    
    float: left;
    
}

/* Class rules */
=======
    
}

>>>>>>> 289d6bf1ac33ef2b9e1e156485320908e5ee12d6
.large-title {
    
    position: relative;
    font-size: 1.1em;
<<<<<<< HEAD
    top: 0.7em;
    left: 0.2em;
    
}

.subtitle {
    
    margin: 0.15em 3em;
    font-size: 1.4em;
    color: #92a8d1;
    display: none;
    
}

.medium-title {
    
    font-size: 1.8em;
    margin-left: 1em;
    color: #034f84;    
    
}

.small-title {
    
    font-size: 1.6em;
    margin-left: 1em;
    color: #034f84;
=======
    top: 0.1em;
    left: 0.2em;
>>>>>>> 289d6bf1ac33ef2b9e1e156485320908e5ee12d6
    
}

.small-text {
    
    
    font-size: 1.2em;
    margin-left: 0.7em;
    text-indent: 0.8em;
    margin-top: 0.3em;
    
}

.small-text a {
    
    text-decoration: none;
    
}

<<<<<<< HEAD
.item-container {
=======
/* Navigation styling */
nav ul li, #mobilenavigation li {
>>>>>>> 289d6bf1ac33ef2b9e1e156485320908e5ee12d6
    
    position: relative;
    margin: 0.5em 0;
    margin-left: 1em;
    height: 20%;
    border: #92a8d1 3px solid;
    padding-bottom: 0.5em;
    
}

.item-title {
    
    position: relative;
    margin: 0.3em 0 0.25em 0.2em;
    width: 120%;
    font-size: 1.15em;
    
}

/* Navigaition styling */
nav {
    
    width: 15%;
    height: 70%;
    border: #92a8d1 3px solid;
    float: right;
    text-align: center;
    border-right: none;
    margin-bottom: 0.5em;
    display: none;
    
}

nav ul li, #mobilenavigation li {
    
    list-style: none;
    margin: 0.5em;
    font-size: 1.5em;
    
}

nav ul li {
    
    margin: 1.0em 0;
    
}

<<<<<<< HEAD
nav ul li a {
    
    text-decoration: none;
    color: #000;
    
}

=======
>>>>>>> 289d6bf1ac33ef2b9e1e156485320908e5ee12d6
nav li#current a, #mobilenavigation li#current a {
    
    color: #f7786b;
    
}

nav ul li a:hover, li#current a:hover, #mobilenavigation ul li a:hover, #mobilenavigation ul li#current a:hover {
    
    color: #eea29a;
    
}

<<<<<<< HEAD
/* Mobile navigation styling */
#mobilenavigation:focus {
    
    border-bottom: #000 5px solid;
    
}

#mobilenavigation:hover ul li, #mobilenavigation:focus ul li {
    
    display: block;
    
}

=======
/* Mobile specific navigation */
>>>>>>> 289d6bf1ac33ef2b9e1e156485320908e5ee12d6
#navcontrol-mobile {
    
    text-align: center;
    
}

#mobilenavigation ul li {
    
    display: none;
    text-align: center;
    font-size: 1.2em;
    
}

#mobilenavigation p { font-size: 1.3em; }

#mobilenavigation li, #mobilenavigation p {
    
    list-style: none;
    margin: 0.2em 0;
    
}

#mobilenavigation li a {
    
    text-decoration: none;
    
}

<<<<<<< HEAD
/* Contact article style rules */
.contact {
=======
#mobilenavigation:focus {
>>>>>>> 289d6bf1ac33ef2b9e1e156485320908e5ee12d6
    
    height: 35% !important;
    display: none;
    
}

<<<<<<< HEAD
/* Contact form style rules */
form {
=======
#mobilenavigation:hover ul li, #mobilenavigation:focus ul li {
>>>>>>> 289d6bf1ac33ef2b9e1e156485320908e5ee12d6
    
    display: block;
    margin-left: 1.5em;
    
}

<<<<<<< HEAD
form span {
    
    margin: 1em 0.4em;
    
}

fieldset {
    
    margin: 1.5em 0;
    padding-bottom: 0.6em;
    
}

fieldset legend {
    
    margin: 0 3em;
    font-size: 1.1em;
    font-weight: bold;
    
}

fieldset:nth-of-type(2) span {
=======
#main {
    
    clear: left;
    float: left;
    width: 95%;
    height: 60%;
    
}

.small-title {
    
    font-size: 1.6em;
    margin-left: 1em;
    color: #034f84;
    
}

.medium-title {
    
    font-size: 1.8em;
    margin-left: 1em;
    color: #034f84;    
    
}

.subtitle {
>>>>>>> 289d6bf1ac33ef2b9e1e156485320908e5ee12d6
    
    font-size: 1.3em;
    
}

<<<<<<< HEAD
fieldset legend:before, fieldset legend:after {
    
=======
/* Contact page form styling */
form {
    
    display: block;
    margin-left: 1.5em;
    
}

form span {
    
    margin: 1em 0.4em;
    
}

fieldset {
    
    margin: 1.5em 0;
    padding-bottom: 0.6em;
    
}

fieldset legend {
    
    margin: 0 3em;
    font-size: 1.1em;
    font-weight: bold;
    
}

fieldset:nth-of-type(2) span {
    
    font-size: 1.3em;
    
}

fieldset legend:before, fieldset legend:after {
    
>>>>>>> 289d6bf1ac33ef2b9e1e156485320908e5ee12d6
    content: "  ";
    white-space: pre;
    
}

input[type="text"] {
    
    width: 70%;
    margin-left: 0.4em;
    margin-top: 0.4em;
    
}

input[type="email"] {
    
    width: 70%;
    margin: 0.5em 0em;
    
}

<<<<<<< HEAD
=======
textarea {
    
    display: block;
    margin: 0.4em auto;
    width: 90%;
    
}

/* Contact article */
.contact {
    
    height: 35% !important;
    display: none;
    
}

>>>>>>> 289d6bf1ac33ef2b9e1e156485320908e5ee12d6
input[type="submit"] {
    
    width: 40%;
    display: block;
    margin: 0 auto;
    
}

<<<<<<< HEAD
textarea {
    
    display: block;
    margin: 0.4em auto;
    width: 90%;
    
}

/* Main/Figure style rules */
#main {
    
    clear: left;
    float: left;
    width: 95%;
    height: 60%;
=======
/* Main div Figure styling */
.item-container {
    
    position: relative;
    margin: 0.5em 0;
    margin-left: 1em;
    height: 20%;
    border: #92a8d1 3px solid;
    padding-bottom: 0.5em;
    
}

.item-title {
    
    position: relative;
    margin: 0.3em 0 0.25em 0.2em;
    width: 120%;
    font-size: 1.15em;
>>>>>>> 289d6bf1ac33ef2b9e1e156485320908e5ee12d6
    
}

figure figcaption p {
    
    display: none;
    
}

figure figcaption {
    
    position: relative;
    margin: 0.25em 3em 0 6em;
    
}

figure img {
    
    position: relative;
    float: left;
    height: 100%;
    margin: 0 0.7em;
    top: 0.5em;
    
}

figure:hover .item-title {
    
    color: #92a8d1;
    cursor: default;
    
}

<<<<<<< HEAD
/* "Yarn Yard" photo styling */
#yard-photo {
    
    display: block;
    margin: 0 auto;
    margin-top: 1em;
    max-width: 80%;
    max-height: 100%;
        
}

/* Footer style rules */
=======
/* Footer styling */
>>>>>>> 289d6bf1ac33ef2b9e1e156485320908e5ee12d6
footer {

    text-align: center;
    clear: both;
    position: relative;
    top: 10%;
<<<<<<< HEAD
    
}

footer a {
    
    text-decoration: none;
=======
>>>>>>> 289d6bf1ac33ef2b9e1e156485320908e5ee12d6
    
}

footer p span:before {
    
    content: "\A";
    white-space: pre;
}

<<<<<<< HEAD
/* Media queries */
=======
footer a {
    
    text-decoration: none;
    
}
>>>>>>> 289d6bf1ac33ef2b9e1e156485320908e5ee12d6

/* Tablet and up media query */
@media screen and (min-width: 768px) {
    
<<<<<<< HEAD
    /* Class changes */
=======
>>>>>>> 289d6bf1ac33ef2b9e1e156485320908e5ee12d6
    .large-title {
    
        font-size: 1.4em;
        top: 0.3em;
    
    }
    
    .medium-title {
        
        font-size: 1.9em;
        
    }
    
    .subtitle {
        
        display: block;
        
    }
    
    .small-title {
        
        font-size: 1.7em;
        
    }
    
    .item-container {
        
        margin: 1.5em 0;
        height: 17%;
        border-left: none;
        
    }
    
<<<<<<< HEAD
    .item-title {
    
        font-size: 1.5em;
        width: 100%;
    
    }
    
    /* Header changes */
    header {
        
        margin-bottom: 1.5em;
        
    }
    
    /* Navigation changes */
    nav {
        
        display: block;
        width: 17%;
        
    }
    
    #mobilenavigation {
        
        display: none;
        
    }
    
    /* Main */
    #main {
        
        width: 80%;
        height: 60%;
=======
    #main {
        
        width: 80%;
        height: 60%;
        
    }
    
    .small-title {
        
        font-size: 1.7em;
        
    }
    
    .medium-title {
        
        font-size: 1.9em;
        
    }
    
    .subtitle {
        
        display: block;
        
    }
    
    .item-container {
        
        margin: 1.5em 0;
        height: 17%;
        border-left: none;
>>>>>>> 289d6bf1ac33ef2b9e1e156485320908e5ee12d6
        
    }
    
    /* Figure caption display */
    figure figcaption p {
        
        display: block;
        
    }
<<<<<<< HEAD
=======
    
    #tele {
    
        pointer-events: none;
        cursor: default;
>>>>>>> 289d6bf1ac33ef2b9e1e156485320908e5ee12d6
    
    /* Contact form changes */
    form {
        
        margin-top: 1em;
        
    }
<<<<<<< HEAD
        
=======
    
    footer {
        
        top: 18%;
        
    }
    
>>>>>>> 289d6bf1ac33ef2b9e1e156485320908e5ee12d6
    input[type="text"] {
        
        margin-left: 0.4em;
        margin-bottom: 0.3em;
        width: 80%;
        
    }
    
    input[type="email"] {

        width: 80%;

    }
    
    input[type="email"]:invalid {
        
        border: 1.5px red solid;
        
    }
    
    input[type="text"] {
        
        width: 80%;
        
    }
    
    input[type="email"] {

        width: 80%;

    }
    
    textarea {
        
        width: 90%;
        margin: 0.5em 3em;
        
    }
    
    input[type="submit"] {
        
        margin: 0 auto;
        display: block;
        width: 15%;
        
    }
    
<<<<<<< HEAD
    /* Footer changes */
    footer {
        
        top: 14%;
        
    }
    
    #tele {
    
        pointer-events: none;
        cursor: default;
    
    }
=======
    form {
        
        margin-top: 1em;
        
    }
    
    nav {
        
        width: 17%;
        
    }
    
    .item-title {
    
        font-size: 1.5em;
        width: 100%;
    
    }

>>>>>>> 289d6bf1ac33ef2b9e1e156485320908e5ee12d6
    
}

/* Small laptop and up media query */
@media screen and (min-width: 1024px) {
    
    /* Insert a pipe before the contact information in the footer */
     footer p span:before {

        content: " |";
    }
    
}

<<<<<<< HEAD
/* Large laptop and up media query */
@media screen and (min-width: 1440px) {
    
    /* Nav changes so it doesn't take up too much screen room */
=======
@media screen and (min-width: 1440px) {
        
>>>>>>> 289d6bf1ac33ef2b9e1e156485320908e5ee12d6
    nav {
        
        width: 10%;
        
    }
    
<<<<<<< HEAD
}

/* Printer media query */
@media print {
    
    p, h1, h2, h3, a {
        
        color: #000;
        
    }
    
    #page-icon {
        
        visibility: hidden;
        
    }
    
    body {
        
        background-color: #FFF;
        
    }
    
    nav, #navcontrol-mobile {
        
        display: none;
        
    }
    
}


=======
}
>>>>>>> 289d6bf1ac33ef2b9e1e156485320908e5ee12d6
