/* 

    Stylesheet for Yaroslava's Yarn Yard

    Author: Tyler Kennedy
    Updated: 11 April 2018
    Created: 17 April 2018


    Border color: #92a8d1
    Text color: #f7cac9 || #034f84
    Background color: #deeaee
    Hover color: #eea29a

*/
@import url('https://fonts.googleapis.com/css?family=Raleway');

/* Global reset rule */
* {
    
    margin: 0;
    padding: 0;
    
}

html, body {
    
    height: 100%;
    width: 100%;
    
}

/* Body global rules */
body {
    
    background-color: #deeaee;
    
}

/* Global text rules */
p, h1, h2, h3, a, li, figcaption {
    
    color: #034f84;
    font-family: 'Raleway', 'Times New Roman', sans-serif;
    
    
}

/* Header specific color */
header h1 a {
    
    color: #e99696;    
    text-decoration: none;
    
}

/* Header styling */
img#page-icon {
    
    float: left;
    
}

header {
    
    float: right;
    margin-bottom: 0.5em;
    font-size: 1em;
    width: 100%;
    
    border-bottom: #92a8d1 7px solid;
    
}

header h1 {
    
    position: relative;
    margin-left: 1.5em;
    font-size: 1.6em;
    top: 1.2em;
    
}

/* Remove the blue color and underline from the links in the navigation */
nav ul li a {
    
    text-decoration: none;
    color: #000;
    
}

/* Navigation styling */
nav ul li, div#mobilenavigation li {
    
    list-style: none;
    
    margin: 0.5em;
    
    font-size: 1.5em;
    
}

nav {
    
    width: 15%;
    height: 70%;
    border: #92a8d1 3px solid;
    float: right;
    text-align: center;
    border-right: none;
    margin-bottom: 0.5em;
    display: none;
    
}


nav ul li {
    
    margin: 1.0em 0;
    
}

nav li#current a, div#mobilenavigation li#current a {
    
    color: #f7786b;
    
}

nav ul li a:hover, li#current a:hover, div#mobilenavigation ul li a:hover, div#mobilenavigation ul li#current a:hover {
    
    color: #eea29a;
    
}

/* Mobile specific navigation */
p#navcontrol-mobile {
    
    text-align: center;
    
}

div#mobilenavigation ul li {
    
    display: none;
    text-align: center;
    font-size: 1.2em;
    
}

div#mobilenavigation li, div#mobilenavigation p {
    
    list-style: none;
    margin: 0.2em 0;
    font-size: 1.3em;
    
}

div#mobilenavigation li a {
    
    text-decoration: none;
    
}

div#mobilenavigation:focus {
    
    border-bottom: #000 5px solid;
    
}

div#mobilenavigation:hover ul li, div#mobilenavigation:focus ul li {
    
    display: block;
    
}

div#main {
    
    clear: left;
    float: left;
    width: 95%;
    height: 80%;
    
}

/* Main div article styling */
div#main article {
    
    height: 100%;
    
}

div#main article h1 {
    
    font-size: 1.5em;
    margin-left: 1em;
    color: #034f84;
    
}

div#main article h2 {
    
    margin: 0.15em 3em;
    font-size: 1.4em;
    color: #92a8d1;
    display: none;
    
}

/* Contact page form styling */
form {
    
    display: block;
    margin-left: 1.5em;
    
}

form span {
    
    margin: 1em 0.4em;
    
}

fieldset {
    
    margin: 1.5em 0;
    padding-bottom: 0.6em;
    
}

fieldset legend {
    
    margin: 0 3em;
    font-size: 1.1em;
    font-weight: bold;
    
}

fieldset:nth-of-type(2) span {
    
    font-size: 1.3em;
    
}

fieldset legend:before, fieldset legend:after {
    
    content: "  ";
    white-space: pre;
    
}

input[type="text"] {
    
    width: 70%;
    margin-left: 0.4em;
    margin-top: 0.4em;
    
}

input[type="email"] {
    
    width: 70%;
    margin: 0.5em 0em;
    
}

textarea {
    
    display: block;
    margin: 0.4em auto;
    width: 90%;
    
}

/* Contact article */
article.contact {
    
    height: 35% !important;
    display: none;
    
}

input[type="submit"] {
    
    width: 40%;
    display: block;
    margin: 0 auto;
    
}

/* Main div Figure styling */
div#main figure {
    
    position: relative;
    margin: 0.5em 0;
    margin-left: 1em;
    height: 20%;
    border: #92a8d1 3px solid;
    
}

figure figcaption h1 {
    
    position: relative;
    margin: 0.3em 0 0.25em 0.2em;
    width: 120%;
    font-size: 1.8em;
    
}

figure figcaption p {
    
    display: none;
    
}

figure figcaption {
    
    position: relative;
    margin: 0.25em 3em 0 6em;
    
}

figure img {
    
    float: left;
    height: 100%;
    margin: 0 0.7em;
    
}

figure:hover h1 {
    
    color: #92a8d1;
    cursor: default;
    
}

/* Footer styling */
footer {

    text-align: center;
    clear: both;
    position: relative;
    top: 15%;
    
}

footer p span:before {
    
    content: "\A";
    white-space: pre;
}

footer a {
    
    text-decoration: none;
    
}

@media screen and (min-width: 768px) {
    
    header h1 {
    
        font-size: 3em;
        top: 0.1em;
    
    }

    
    nav {
        
        display: block;
        
    }
    
    #mobilenavigation {
        
        display: none;
        
    }
    
    header {
        
        margin-bottom: 1.5em;
        
    }
    
    html, body {
        
        height: 100%;
        
    }
    
    div#main {
        
        width: 80%;
        
    }
    
    div#main article h2 {
        
        display: block;
        
    }
    
    div#main figure {
        
        margin: 1.5em 0;
        
        height: 17%;
        border-left: none;
        
    }
    
    figure figcaption h1 {
        
        width: 100%;
        
    }
    
    figure figcaption p {
        
        display: block;
        
    }

    div#main article h1 {
    
        font-size: 1.9em;
    
    }
    
    footer a#tele {
    
        pointer-events: none;
        cursor: default;
    
    }
    
    footer {
        
        top: 9%;
        
    }
    
    input[type="text"] {
        
        margin-left: 0.4em;
        margin-bottom: 0.3em;
        width: 90%;
        
    }
    
    input[type="email"]:invalid {
        
        border: 1.5px red solid;
        
    }
    
    input[type="text"] {
        
        width: 80%;
        
    }
    
    input[type="email"] {

        width: 80%;

    }
    
    textarea {
        
        width: 90%;
        margin: 0.5em 3em;
        
    }
    
    input[type="submit"] {
        
        margin: 0 auto;
        display: block;
        width: 15%;
        
    }
    
    form {
        
        margin-top: 1em;
        
    }
    
    nav {
        
        width: 17%;
        
    }
    
}

@media screen and (min-width: 1024px) {
    
     footer p span:before {

        content: " |";
    }
    
}

@media screen and (min-width: 1440px) {
        
    nav {
        
        width: 10%;
        
    }
    
}